
@font-face {
  font-family: 'Rockwell';
  src: url('fonts/RockwellStd.eot?#iefix') format('embedded-opentype'),  url('fonts/RockwellStd.otf')  format('opentype'),
	     url('fonts/RockwellStd.woff') format('woff'), url('fonts/RockwellStd.ttf')  format('truetype'), url('fonts/RockwellStd.svg#fonts/RockwellStd') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Rockwell';
  src: url('fonts/RockwellStd-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/RockwellStd-Bold.otf')  format('opentype'),
	     url('fonts/RockwellStd-Bold.woff') format('woff'), url('fonts/RockwellStd-Bold.ttf')  format('truetype'), url('fonts/RockwellStd-Bold.svg#fonts/RockwellStd-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
